GOOGLE_API_KEY=AQ.Ab8RN6Lysq93dfw6nTEwvcTlsakWe1SRD-b7Eu9NKqP-WYcbIw
CHROMA_PERSIST_DIRECTORY=./data/chroma_db
SQLITE_DATABASE_URL=./data/students.db
LLM_MODEL=gemini-2.0-flash
EMBEDDING_MODEL=models/embedding-001
